<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @job.content %>
</p>

<p>
  <strong>Pay:</strong>
  <%= @job.pay %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @job.contact_name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @job.mobile %>
</p>

<p>
  <strong>Wechat:</strong>
  <%= @job.wechat %>
</p>

<p>
  <strong>Job suburb:</strong>
  <%= @job.job_suburb %>
</p>

<p>
  <strong>User:</strong>
  <%= @job.user %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @job.expiration_date %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
